<% if user_signed_in? %>
<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Other</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
    <% if contact.user == current_user %>
      <tr>
        <td>
          <%= link_to contact.first_name + ' ' + contact.last_name, contact %>
        </td>
        <td><%= contact.address %></td>
        <td><%= contact.phone %></td>
        <td><%= contact.email %></td>
        <td><%= contact.other %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Contact', new_contact_path, class:"btn btn-outline-dark" %>
<% else %>
<h3>Welcome to your web-based Address Book! <br/>Please sign in to see your contacts.</h3>
<% end %>