<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">
    <%= @contact.first_name %>
    <%= @contact.last_name %>
  </h1>
  <hr class="my-4">
  <p class="lead">
  <%= @contact.address %>
  </p>  
  <p>
  Phone: <%= @contact.phone %> <br/>
  Email: <%= @contact.email %> <br/>
  Other Info: <%= @contact.other %>
  </p>
  <%= link_to 'Create New Contact', new_contact_path, class:"btn btn-outline-dark" %>
  <%= link_to 'Edit Contact', edit_contact_path(@contact), class:"btn btn-dark" %> 
  <%= link_to 'Delete Contact', @contact, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
  <%= link_to 'Back Home', contacts_path, class:"btn btn-dark" %>
</div>